body{
	background: rgba(175,175,175,0.1);
	border: 1px;
}

h1,h2,h3{
	color: blue;
}

.cadre1{
	width: 1346px; 
	height: 620px;
}

#header {
	width: 1349px; 
	height: 120px;
    background: white;
}

.circle{
	width: 1349px; 
	height: 500px;
    background-color: #ccffff;

}

.circle1{
	width: 130px; 
	height: 90px;
	margin-left: 40px;
}

.circle2{
	width: 100px; 
	height: 70px;
	padding: 5px;
}

.wrapper{
	width: 25%;
	float: left;
	margin-left: 40px;
}

.wrapper1{
	width: 35%;
	float: right;
}

.dessin{
	width: 800px;
	height: 500px;
	margin-left: 171px;
}

.liste{
	width: 100%;
	margin: 40px;

}

.circle3{
	width: 1349px; 
	height: 400px;
    background-color: white;

}

.wrapp{
	width: 25%;
	float: left;
	margin-left: 40px;
	text-align: center;
}

.wrapp2{
	width: 25%;
	float: right;
	margin-right: 40px;
	text-align: center;
}

.wrapp3{
	margin-left: 400px;
	text-align: center; 
}

.liste2{
	width: 100%;
	text-align: center;
}

.dessin1{
	width: 800px;
	height: 500px;
	margin-left: 500px;
}

.rond{
	width: 200px;
	height: 200px;
	border-radius: 100px;
}

.arrow{
	float: right;
}

.titre{
	text-align: center;
}

.circle4{
	width: 1349px; 
	height: 800px;
    background-color: white;

}

.lead{
	background: transparent;
	display: inline-block;
	padding: 15px;
	font-size: 15px;
	letter-spacing: 2px;
	margin-bottom: 5em;
	margin-right: 300px;
	margin-top: 80px;
	border: 10px;
}

.gauche{
	width: 25%;
    float: left;
	margin-left: 90px;
}

.droit{
	width: 25%;
	float: right;
	margin-right: 300px;
}

.titre2{
	text-align: center;
	margin-right: 800px;
}

.soustitre{
	text-align: justify;
}

.titre3{
	text-align: center;
	margin-left: 800px;
}

.soustitre1{
	padding: 290px;
	margin-left: 200px;
}

.dessin2{
	margin-left: 700px;
}

.wrapper2{
	width: 25%;
	float: left;
	margin-left: 80px;
}

.wrapp4{
	width: 25%;
	float: left;
	margin-left: 40px;
	text-align: center;
}

.wrapper3{
	width: 30%;
	float: right;
	margin-right: 60px;
}

.wrapper4{
	width: 40%;
	float: right;
	margin-right: 60px;
}

.circle5{
	width: 1349px; 
	height: 470px;
    background-color: white;
    text-align: center;
}

.rectangle1{
	width: 1349px;
	height: 300px;
	background-color: blue;
}

.liste3{
	width: 100%
	margin-left: 2000px;
}

.droit1{
    width: 67%;
	float: right;
	margin-right: 60px;
    margin-top: 20px;
}

.gauche1{
	width: 25%;
    float: left;
	margin-left: 20px;
}

.bas{
	min-height:40vh;
	text-decoration: none;
}

	 .card{
	height: 40vh;
	width: 15%;
	float: left;
	margin-left: 20px;
	position: relative;
	left: 20%;
	text-decoration:none; 
}
.bas  ul li{
	text-decoration: none;

}
.wrapper {
	min-height: 40vh;
	position: relative;
	float: left;
	float: left;
}

 .wrapper list-inline li{
	height: 35vh;
	width: 30%;
	float: left;
	margin-left: 12px;
	left: 20%;
	text-decoration:none; 
	display: inline-block;
	padding: 20px;
}